#bds_issue_box {
	position: relative;
	background: #ffd;
	border: 1px solid #DDDD99;
	border-radius: 0.4em;
	margin-top: 0.2em;
	padding: 0.5em 1em;
}

#bds_issue_box h1 {
	font-size: 1.3em;
	margin-top: 1em;
}

#bds_issue_box h1:first-child {
	margin: 0;
}
#bds_issue_box h1:first-child a:first-child {
	font-size: 1.5em;
	padding-right: 0.5em;
}

#bds_issue_box a {
}

#bds_issue_box .time_box {
	position: absolute;
	top: 2px;
	right: 5px;
	font-size: 0.8em;
}

#bds_issue_box .time_box span {
	display: block;	
}

#bds_issue_box table, .bds_block table {
	border-collapse:collapse;

	border:0;
	border-top: 1px solid #DDDD99;
	width: 100%;
	margin-top: 1.5em;
}

#bds_issue_box table th, #bds_issue_box table td, .bds_block th, .bds_block td {
	border:0;
	background: none;
	border-bottom: 1px dotted #DDDD99;
	font-size: 0.8em;
}

#bds_issue_box h2 {
	font-size: 1em;
	border-bottom: 1px dotted #DDDD99;
}

.bds_block h1 {
	font-size: 1.3em;
	margin: 1em 0;
}

.bds_block h1 span {
	color:#999;
}

.bds_block h2 {
    border-bottom: 1px solid #D7D7D7;
    box-shadow: 0.1em 0.4em 0.7em 0 #F2F2F2;
    color: #999999;
    font-size: 100%;
    font-weight: normal;
    margin-bottom: 0.5em;
    padding: 0 0.2em;
}

.bds_block h3 {
    border-bottom: 1px dotted #8bbcbc;
    font-size: 90%;
}

.bds_block h2 span {
	display:block;
	float:right;
	font-size: 100%;
    color: #999999;
	padding-right: 0.4em;
}

.bds_block h2 span.quoted_in a:before {
	content: "↓ ";	
}

.bds_block h2 span.replay_to a:before {
	content: "↑ ";	
}

.bds_block .bds_block_content > div {
	margin-bottom: 3em;
}

.bds_block table {
	clear:both;
	margin-top: 3em;
}

.bds_block table {
	clear:both;
	border-top-color: #8bbcbc;
	margin-top: 3em;
}

.bds_block div.task {
	background: #e4f4f4;
	border: 1px solid #8bbcbc;
	border-radius: 0.4em;
	margin-top: 0.2em;
	padding: 0.5em 1em;
}

.bds_block td, .bds_block th{
	border-bottom-color: #8bbcbc;
}

.bds_inline_button {
    background: #fff;
    border: 1px solid #DDDDDD;
    border-radius: 1em;
    box-shadow: none;
	text-shadow: 0.1em 0.1em #DDDDDD;
	cursor: pointer;
    color: #808080 !important;
    font-size: 70%;
    height: 1.6em;
    margin: 0 0.1em 0.1em;
    padding: 0 0.4em 0.1em;
	padding-top: 0.2em;
	display:block;
	float:right;
}

.bds_inline_button:hover {
    background: none repeat scroll 0 0 #F6F6F6;
    box-shadow: 0.1em 0.1em 0.6em 0 #999999;
    text-shadow: 0.1em 0.1em #FCFCFC;
	color: #fff;
	text-decoration:none !important;
}
.bez_delete_button {
    color: #808080 !important;
    font-size: 70%;
    height: 1.6em;
    margin: 0 0.1em 0.1em;
    padding: 0 0.4em 0.1em;
	padding-top: 0.2em;
	display:block;
	float:right;
	text-decoration:underline !important;
}

.bez_delete_button:hover {
	text-decoration:none !important;
}

.bds_report_button {
	position:absolute;
	bottom: 0.5em;
	right: 0.5em;
}

.bds_send_button {
	position:absolute;
	bottom: 0.5em;
	right: 7em;
}
.bds_last_edit {
    color: #999999;
	font-size: 80%;
	margin-top: 0.8em;
	padding-left: 2.5em;
}

.bds_block li {
	color: #000 !important;
}

/*FORMS*/
.bds_block fieldset.bds_form {
	display: table;
	background: none repeat scroll 0 0 #F7F7F0;
    border: 1px solid #D7D7D7;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em 1em 0 #E7E7E7 inset;
    margin: 1em 0;
	padding: 0.5em;
	width: 100%;
	text-align: left;
}

.bds_form .row {
	display: table-row;
}

.bds_form label {
	display: table-cell;
    padding: 0.4em;
    text-align: right;
    vertical-align: top;
    width: 20%;
}
.bds_form span {
	display: table-cell;
    vertical-align: middle;
    width: 80%;
}

.bds_form input {
	padding: 0.25em 0.5em;
}

.bds_form textarea {
	width: 100% !important;
	height: 10em;
	display: block;
}


.bds_form input[id=title] {
	width: 30em;
}

.bds_form input[id=cost] {
	width: 7em;
}
input.days {
	width: 3em;
}

.root_cause {
	margin-bottom:0.5em;
}
.root_cause span {
	background: #ffeedc;
	padding: 0.5em;
}

#bds_timeline h2 {
    background: none repeat scroll 0 0 #F7F7F7;
    border-bottom: 1px solid #D7D7D7;
    border-radius: 0.1em;
    box-shadow: 1px 1px 0.5em 0 #CCCCCC;
    font-size: 105%;
    margin: 2em 0 0.5em;
    padding: 0.4em;
}

#bds_timeline dt {
	font-weight: normal;
}
#bds_timeline dd {
	font-weight: normal;
	margin: 0 0 0.75em 4.2em;
}

#bds_timeline dt a {
	padding: 0 4px 2px 22px;
}

#bds_timeline dt a .id {
	font-weight: bold;
}
#bds_timeline dt a:hover {
	text-decoration: none !important;
	background-color: #eee;
}

#bds_timeline dt .id {
	font-weight: normal;
}

#bds_timeline dt .time {
    color: #999999;
    font-size: 80%;
}

#bds_timeline dt .author {
    color: #666666;
}
#bds_timeline dt > a {
	background: url('images/changeset.png') no-repeat 1px 4px;
}

#bds_timeline .issue_closed > a {
	background: url('images/closedticket.png') no-repeat 1px 4px;
}

#bds_timeline .issue_created > a {
	background: url('images/newticket.png') no-repeat 1px 4px;
}

	
#bds_timeline .task > a {
	background: url('images/newtask.png') no-repeat 1px 4px;
}

#bds_timeline .task_closed > a {
	background: url('images/closedtask.png') no-repeat 1px 4px;
}

#entities_form label {
	display: block;
}

#entities_form textarea {
	display: block;
	height: 40em;
	width: 20em;
	margin-bottom: 1em;
}

#entities_form input[type=reset] {
	background: none;
	border: none;
	text-decoration: underline;
}

#entities_form input[type=reset]:hover {
	text-decoration: none;
}
