@import "block.less";

.bez_task {
    .bez_block();

    h2 {
        font-size: 1.2em;
        font-weight: bold;
        color: black;
        border: 0;
    }

    h2 a {
        font-size: 1.3em;
    }
}