.bez_timeline {

    h2 {
        background: none repeat scroll 0 0 #F7F7F7;
        border-bottom: 1px solid #D7D7D7;
        border-radius: 0.1em;
        box-shadow: 1px 1px 0.5em 0 #CCCCCC;
        font-size: 105%;
        margin: 2em 0 0.5em;
        padding: 0.4em;
    }

    dt {
        font-weight: normal;
    }

    dd {
        font-weight: normal;
        margin: 0 0 0.75em 4.2em;
    }

    dt a {
        padding: 0 4px 2px 22px;
    }

    dt a .id {
        font-weight: bold;
    }

    dt a:hover {
        text-decoration: none !important;
        background-color: #eee;
    }

    dt .id {
        font-weight: normal;
    }

    dt .time {
        color: #999999;
        font-size: 80%;
    }

    dt .author {
        color: #666666;
    }

    dt > a {
        background: url('../plugins/bez/images/changeset.png') no-repeat 1px 4px;
    }

    .thread_closed > a, .thread_closed_project > a {
        background: url('../plugins/bez/images/closedticket.png') no-repeat 1px 4px;
    }

    .thread_opened > a, .thread_opened_project > a  {
        background: url('../plugins/bez/images/newticket.png') no-repeat 1px 4px;
    }

    .thread_rejected > a, .thread_rejected_project > a  {
        background: url('../plugins/bez/images/rejectedticket.png') no-repeat 1px 4px;
    }

    .thread_comment_cause_added > a {
        background: url('../plugins/bez/images/newcause.png') no-repeat 1px 4px;
    }

    .task_opened > a {
        background: url('../plugins/bez/images/newtask.png') no-repeat 1px 4px;
    }

    .task_done > a {
        background: url('../plugins/bez/images/closedtask.png') no-repeat 1px 4px;
    }

    h3 {
        font-size: 1em;
        border-bottom: 1px dotted #ddd;
        margin-bottom: 0;
    }
}