@priority_-background-color: #e7f1ff;
@priority_-border-color: #a3c8ff;

@priority_0-background-color: #EEF6F0;
@priority_0-border-color: #B0D2B6;

@priority_1-background-color: #FFFFDD;
@priority_1-border-color: #DDDD99;

@priority_2-background-color: #F8E8E8;
@priority_2-border-color: #F0AFAD;